@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

html, body {
    height: 100vh;
    width: 100vw;
    background-color: black;
}

body {
    background-image: url(../imagens/fundo-madeira.jpg);
}

main {
    height: 100vh;
    position: relative;
}

section#telefone{
    position: absolute;
    height: 627px;
    width: 311px;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../imagens/frame-iphone.png) no-repeat ;
}

section#redes {
    text-align: right;
}

section#redes img {
    height: 50px;
    width: 50px;

    margin: 10px;

    border-radius: 50%;
    box-shadow: 2px 1px rgba(0, 0, 0, 0.678);
    box-sizing: 5px;
}

section#redes img:hover {
    transform: translate(-5%, -5%);
    transition-duration: 1s;

    transition: transform .3s;
}

iframe#tela {
    position: relative;
    top: 84px;
    left: 26px;

    height: 464px;
    width: 260px;
}

/*anotações*/
/*
::-webkit-scrollbar {
    color: black;
}*/
/*isso aqui pode ser usado para modificar ferramentas do navegador*/

/*transition : voce pode modificar o timer de animações especificas*/