@charset "UTF-8";

/*Para celulares deitados*/

html, body {
    background-image: url(../imagens/cev-landscape.jpg);
    background-position: left bottom;   
}

p::after {
    content: "Agora esta deitado";
}