@charset "UTF-8";

/*Para celulares em pe*/

body {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 1em;
}

main {
    color: black;
    background-color: darkblue;
}

main p::after {
    content: "Retrato";
}