@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: black;
}

h1 {
    text-align: center;
    padding: 30px;
}

iframe {
    margin: auto;
    display: block;
}

var.Video {
    border-style: solid;
    border-color: black;
    border-width: 0px 50px;
}

var.Voltar {
    margin: 0em 16.90em;
    position: relative;
    top: 6em;
}