@charset "UTF-8";

/*todos*/

* {
    padding: 0px;
    margin: 0px;
    border: 0px;
}

/*celular*/

body {
    font-family: 'Segoe UI', Tahoma, 'Geneva', Verdana, sans-serif;
    background-color: #284B63;
    width: 100vw;
}

header{
    background-color: #131313;
    color: white;
    text-align: center;
    padding: 20px;

    position: relative;
}

header h1 {
    font-size: 3em;
    margin: auto;
    width: 6em;
    text-align: start;
    border-bottom: white 3px solid;
}

header ul {
    width: 11.5em;
    height: 3.2em;
    border-radius: 5px 5px 0px 0px;
    background-color: white;
    display: inline-flex;
    list-style: none;
    margin-left: 3.3em;

    position: absolute;

    top: 107px;
    left: 50%;

    transform: translate(-50%);
}

header ul li img {
    padding: 10px 13px;
}

header ul > li img:hover {
    transform: translateY(-5px);
    width: 38px;
    transition: 1s;
}

header p {
    padding-top: 10px;
}

header img{
    width: 35px;
}